  :root {
    --background-color: #0D1117;
    --text-color: #7D8590;
    --link-color: #7289DA;
    --link-color-hover: #7289DA;
    --borders: 1.5px solid rgba(255, 255, 255, 0.075);
    --title-background-color: #010409;
    --title-border: 1.5px solid rgba(255, 255, 255, 0.075);
    --footer-colour: transparent;
    /* Fixed properties, unchanged in different themes: */
    --primary-font: monospace;
    --secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .lightmode {
    --background-color: #F3F2EE;
    --text-color: #7C7C81;
    --link-color: #B450B0;
    --link-color-hover: rgba(180, 80, 176, 0.8);  /* 80% opacity of #B450B0 */
    --borders: 1.5px solid lightgray;
    --title-background-color: white;
    --title-border: 1.5px solid lightgray;
    --footer-colour: transparent;
  }  

  .corporatemode {
    --background-color: white;
    --text-color: black;
    /* confirm me: */
    --link-color: rgba(0, 0, 0, 0.65);
    /* --link-color: grey; */
    /* --link-color: black; */
    --link-color-hover: black;
    --borders: 1px solid lightgray;
    --title-background-color: white;
    --title-border: 0.5px solid black;
    --footer-colour: black;
    /* confirm me: */
    --primary-font: Georgia;
    --secondary-font: Georgia;
  }

/* ___________________________________
   Main contents and navigation: */

  html {
    background: #0D1117; /* will change main background via javascript, not css properties */
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh; 
  }
  
  .container {
    margin: 0 auto;
    width: 85%;
    margin-top: 10vh;
    max-width: 1500px;
    font-family: var(--primary-font);
    color: var(--text-color);
    height: 80vh;
    /* game controller: */
    /* border: var(--borders);
    border-radius: 200px; */
  }

  .grid-container {
    display: flex;
    height: 100%;
    margin: 1vh 17.5vw 0 5vw; /* control margins around container */
    font-size: 1.25rem;
    align-items: center; /* align along cross axis */
    justify-content: center; /* align along main axis */
  }

  section {
    margin-bottom: 7vh;
  }

  .title {
    padding-left: 1%;
    padding-top: 0.5%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    margin-left: -1%;
    margin-right: -1%;
    border-radius: 7.5px;
    background-color: var(--title-background-color);
    border: var(--title-border);
    margin-bottom: 1vh;
  }

  .welcome-text {
    background: linear-gradient(to right, #B450B0, #7289DA);
    -webkit-background-clip: text; /* for Safari/Chrome */
    color: transparent;
  }

  .welcome-text-corporate {
    font-size: 1.35rem;
  }

  .mode {
    cursor: pointer;
    padding: 0 5px 0 0;
    text-align: right;
  }

  .mode i:hover {
    opacity: 0.4;
  }

  .section-three a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.65rem;
    background: linear-gradient(to right, #B450B0, #7289DA);
    -webkit-background-clip: text; /* for Safari/Chrome */
    color: transparent;
  }

  .section-three a:hover {
    color: var(--link-color);
    opacity: 0.65;
  }
  
  .footer-text {
    font-family: var(--primary-font);
    padding-top: 10px;
    border-top: var(--borders);
    width: 100%;
    margin-top: 8vh;
    background: linear-gradient(to right, #B450B0, #7289DA);
    -webkit-background-clip: text;
    color: var(--footer-colour);
    text-align: right;
    font-size: 1rem;
  }

  .mode-text {
    text-align: right;
    font-family: var(--secondary-font);
    padding-right: 10px;
    font-size: 1.25rem;
  }

  .fixed-header, .fixed-footer {
    position: fixed;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0.5vh 0 0.5vh 0;
    /* height: 3vh; */
    /* background-color: grey; */
    color: white;
    color: black;
    font-size: 1rem;
    justify-content: center;
    /* justify-content: flex-start; */
    z-index: 9999;
    /* padding-left: 1.5vw; */
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    /* font-family: var(--primary-non-serif-font); */
    display: flex;
    align-items: center;
    background-color: var(--maroon-m);
    background-color: var(--link-color-hover);
  }
  
  .fixed-header {
    top: 0;
    border-bottom: 1px solid black;
  }
  
  .fixed-footer {
    bottom: 0;
    border-top: 1px solid black;
  }

/* __________________________________
   Responsive design - Tablet: */

  @media screen and (max-width: 992px) {
  
  .container {
    width: 80%;
  }

  .grid-container {
    width: 100%;
    height: 85vh;
    padding-top: 3vh;
    width: 90%;
    margin: 0 auto;
  }
}

/* _________________________________
   Responsive design - Phone: */

  @media screen and (max-width: 576px) {

  html {
    font-size: 14px;
    height: 80vh;
  }

  .container {
    width: 100%;
    border: none;
    margin-top: 7vh;
  }

  .grid-container {
    padding: 0;
    height: fit-content;
  }

  .mode-text {
    display: none;
  }

  .section-three a {
    font-size: 1.3rem;
  }

  .footer-wording {
    padding-top: 1vh;
  }   
}